@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'onchain';
  src: url('../public/BritneyOnchainVF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    @apply bg-background-light text-text-light dark:bg-background-dark dark:text-text-dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  body {
    @apply font-onchain;
  }
}
